body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color: #212228;
    color: #ffffff;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: transparent;
    max-width: 1200px;
    margin: 0 auto;
}
.logo {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
}
.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nav-container {
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-links {
    display: flex;
    gap: 20px;
}
.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
}
.nav-links a:hover,
.nav-links a.active {
    color: #5DADE2;
}
.language-toggle {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: #aaaaaa;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 3px 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 20px;
}
.language-toggle:hover {
    background-color: #ffffff;
    color: #212228;
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 20px;
    background-color: #212228;
}
.hero h1 {
    font-size: 2.5rem;
    margin: 0;
    font-weight: 300;
}
.hero p {
    font-size: 2rem;
    line-height: 2.889rem;
    color: #ffffff;
    width: 75%;
    margin: 20px auto 0 auto;
    font-weight: 300;
}
.hero p a{
    color: #5DADE2;
    cursor: pointer;
}
.hero p a:hover{
    color: #ffffff;
    cursor: pointer;
}
.projects {
    display: flex;
    flex-direction: column; /* Блоки расположены вертикально */
    gap: 80px; /* Увеличиваем расстояние между секциями */
    padding: 20px 20px; /* Отступы по бокам */
    margin: 0 auto;
    max-width: 90%; /* Ограничиваем ширину */
}

.project {
    aspect-ratio: 16 / 9; /* Пропорция 16:9 */
    background-color: #2A2F30; /* Цвет по умолчанию */
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.15s, box-shadow 0.15s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    padding: 20px; 
}
.project:hover {
    transform: scale(1.005);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}
#esenia {
    background-color: #2ECC71; 
}
#swag {
    background-color: #9B59B6; 
}
#drydry {
    background-color: #E67E22;
}
.project h3 {
    margin: 0; 
    font-size: 2rem;
    line-height: 2.889rem;
    color: #ffffff;
    font-weight: 300;
}
.project h3 span {
    opacity: 0.85; 
}
.project h3.opacity07{
    opacity: 0.7;
}
.project p {
    font-size: 1rem;
    color: #ffffff;
    padding: 0 20px;
    line-height: 1.5rem;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #2A2F30;
    color: #AAAAAA;
}
.nav-links a.active {
    color: #5DADE2;
}
.project {
    background-color: #2A2F30;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.15s, box-shadow 0.15s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    overflow: hidden;
    position: relative;
    padding: 20px; 
}

.project iframe,
.project video {
    width: 80%; 
    aspect-ratio: 16 / 9;
    object-fit: cover; 
    position: relative;
    border-radius: 10px; 
}
.project.esenia iframe,
.project.esenia video {
    width: 80%; 
    aspect-ratio: 16 / 8.5; 
    object-fit: cover; 
    position: relative;
    border-radius: 10px; 
}
.project img {
    position: relative;
    width: 100%; 
    height: 100%;
    object-fit: contain; 
    border-radius: 10px;
    overflow: scroll;
    opacity: 1; 
}
.project {
    overflow: hidden;
    position: relative;
}
.image-scroll-container {
    position: relative;
    width: 80%; 
    height: 600px; 
    overflow-y: scroll; 
    overflow-x: hidden; 
    border-radius: 10px;
    margin: 0 auto; 
    background-color: #2A2F30; 
}
.scrolling-image-wrapper {
    position: relative;
    width: 100%;
}
.scrolling-image {
    position: relative;
    width: 100%; 
    height: auto; 
    display: block;
}
@media (max-width: 1200px) {
    .project h3 {
        margin: 0;
        font-size: 1.5rem;
        line-height: 2rem;
        color: #ffffff;
        font-weight: 300;
        }
    .hero p{
        font-size: 1.4rem;
    }
    .hero {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 50px 20px;
        background-color: #212228;
        }
}
@media (max-width: 768px) {
    .project h3 {
        margin: 0;
        font-size: 0.7rem;
        line-height: 0.7rem;
        color: #ffffff;
        font-weight: 300;
        margin-bottom: 10px;
        }
    .hero p{
        font-size: 1rem;
    }
    .hero {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 30px 20px;
        background-color: #212228;
        }
}